<div style="margin-left: 10px; margin-right: 10px;">
  <h1>New Event</h1>

  <%= form_with(model: @event, local: true) do |f| %>
    <div>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.text_area :description, rows: 4 %>
    </div>

    <div>
      <%= f.datetime_local_field :start_time %>
    </div>

    <div>
      <%= f.datetime_local_field :end_time%>
    </div>

    <div>
      <%= f.submit "Create Event", style:"background-color: #561613; color: white;" %>
    </div>
  <% end %>
</div>
