<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "button hollow" %>
      <br>
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <% if @account.avatar&.attached? %>
      <div class="avatar-wrapper" style="--avatar-size: clamp(64px, 10vw, 100px);">
        <%= image_tag(
              url_for(@account.avatar.variant(resize_to_fill: [200, 200])),
              style: "width: 100%; height: 100%; border-radius: 50%; object-fit: cover;",
            ) %>

        <%= button_to "×",
          delete_avatar_account_path,
          method: :delete,
          form: { class: "delete-avatar-form" },
          data: { confirm: "Are you sure you want to remove your avatar?" },
          class: "avatar-delete-btn" %>
      </div>
    <% else %>
      <%= render Shared::AvatarComponent.new(@account, size: 100) %>
    <% end %>
    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= render Account::SignInInfoComponent.new(@account) %>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class="small-12 medium-7 column">

          <h2><%= t("account.show.personal") %></h2>
          <% unless @account.avatar.attached? %>
            <%= f.file_field :avatar %>
          <% end %>

          <div class="small-12 medium-10">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length %>
                <%= fo.text_field :responsible_name, maxlength: Organization.responsible_name_max_length %>
              <% end %>
              <%= f.phone_field :phone_number %>
            <% else %>
              <%= f.text_field :username, maxlength: User.username_max_length %>
            <% end %>

            <%= f.text_area :description, placeholder: 'Description', rows: 4 %>

          </div>

          <div>
            <%= f.check_box :public_activity %>
          </div>

          <div>
            <%= f.check_box :public_interests %>
          </div>

          <% if @account.email.present? %>
            <h2><%= t("account.show.notifications") %></h2>

            <div>
              <%= f.check_box :email_on_comment %>
            </div>

            <div>
              <%= f.check_box :email_on_comment_reply %>
            </div>

            <div>
              <%= f.check_box :newsletter %>
            </div>

            <% if feature?(:proposals) %>
              <div>
                <%= f.check_box :email_digest %>
              </div>
            <% end %>

            <div>
              <%= f.check_box :email_on_direct_message %>
            </div>
          <% end %>

          <% if @account.official_level == 1 %>
            <div>
              <%= f.check_box :official_position_badge %>
            </div>
          <% end %>

          <% if feature?("user.recommendations") %>
            <h2><%= t("account.show.recommendations") %></h2>

            <% if feature?("user.recommendations_on_debates") %>
              <div>
                <%= f.check_box :recommended_debates %>
              </div>
            <% end %>

            <% if feature?("user.recommendations_on_proposals") %>
              <div>
                <%= f.check_box :recommended_proposals %>
              </div>
            <% end %>
          <% end %>

          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>
      </div>
    <% end %>

  </div>
</div>



<style>
  .avatar-wrapper {
    position: relative;
    display: inline-block;
    width: var(--avatar-size, 100px);
    height: var(--avatar-size, 100px);
  }

  .avatar-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .avatar-delete-btn {
    position: absolute;
    top: 0.15rem;
    right: 0.15rem;
    background: rgba(255,255,255,0.9);
    border: black 0.5px solid;
    font-size: calc(var(--avatar-size, 100px) * 0.18);
    line-height: 1;
    color: #ff0000;
    cursor: pointer;
    width: calc(var(--avatar-size, 100px) * 0.28);
    height: calc(var(--avatar-size, 100px) * 0.28);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
  }

  @media (max-width: 420px) {
    .avatar-wrapper { --avatar-size: 64px; }
  }
</style>