<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "button hollow" %>
      <br>
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <%= render Shared::AvatarComponent.new(@account, size: 100, class: "margin-bottom") %>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= render Account::SignInInfoComponent.new(@account) %>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class="small-12 medium-7 column">

          <h2><%= t("account.show.personal") %></h2>

          <div class="small-12 medium-10">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length %>
                <%= fo.text_field :responsible_name, maxlength: Organization.responsible_name_max_length %>
              <% end %>
              <%= f.phone_field :phone_number %>
              <%= f.text_area :description, placeholder: 'Description', rows: 4 %>
            <% elsif @account.role == "stakeholder" %>
              <%= f.text_field :username, maxlength: User.username_max_length %>
              <%= f.text_area :description, placeholder: 'Description', rows: 4 %>
            <% else %>
              <%= f.text_field :username, maxlength: User.username_max_length %>
            <% end %>

          </div>

          <div>
            <%= f.check_box :public_activity %>
          </div>

          <div>
            <%= f.check_box :public_interests %>
          </div>

          <% if @account.email.present? %>
            <h2><%= t("account.show.notifications") %></h2>

            <div>
              <%= f.check_box :email_on_comment %>
            </div>

            <div>
              <%= f.check_box :email_on_comment_reply %>
            </div>

            <div>
              <%= f.check_box :newsletter %>
            </div>

            <% if feature?(:proposals) %>
              <div>
                <%= f.check_box :email_digest %>
              </div>
            <% end %>

            <div>
              <%= f.check_box :email_on_direct_message %>
            </div>
          <% end %>

          <% if @account.official_level == 1 %>
            <div>
              <%= f.check_box :official_position_badge %>
            </div>
          <% end %>

          <% if feature?("user.recommendations") %>
            <h2><%= t("account.show.recommendations") %></h2>

            <% if feature?("user.recommendations_on_debates") %>
              <div>
                <%= f.check_box :recommended_debates %>
              </div>
            <% end %>

            <% if feature?("user.recommendations_on_proposals") %>
              <div>
                <%= f.check_box :recommended_proposals %>
              </div>
            <% end %>
          <% end %>

          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>
        <% if @account.role == "student" %>
          <div class="small-12 medium-5 column">
            <div class="right-side-headings">
              <h3>Motivational Statement</h3>
              <% if @account.motivation_statement.present? %>
                
                <p><%= @account.motivation_statement %></p>
              <% end %>
              <h3>Educational Background</h3>
              <% if @account.current_degree_program.present? || @account.expected_graduation_year.present? || @account.key_courses_and_projects.present? || @account.academic_achievements.present? %>
                <% if @account.current_degree_program.present? %>
                  <small><b>Current degree program</b></small>
                  <p><%= @account.current_degree_program %></p>
                <% end %>

                <% if @account.expected_graduation_year.present? %>
                  <small><b>Expected graduation year</b></small>
                  <p><%= @account.expected_graduation_year %></p>
                <% end %>

                <% if @account.key_courses_and_projects.present? %>
                  <small><b>Key courses and projects</b></small>
                  <p><%= @account.key_courses_and_projects %></p>
                <% end %>

                <% if @account.academic_achievements.present? %>
                  <small><b>Academic achievements</b></small>
                  <p><%= @account.academic_achievements %></p>
                <% end %>
              <% end %>
              <h3>Internship Preferences</h3>
              <% if @account.preferred_duration.present? || @account.on_site_or_remote.present? || @account.planned_working_hours_per_week.present? || @account.type_of_internship.present? %>
                
                <% if @account.preferred_duration.present? %>
                  <small><b>Preferred duration</b></small>
                  <p><%= @account.preferred_duration %></p>
                <% end %>

                <% if @account.on_site_or_remote.present? %>
                  <small><b>On-site or Remote</b></small>
                  <p><%= @account.on_site_or_remote %></p>
                <% end %>

                <% if @account.planned_working_hours_per_week.present? %>
                  <small><b>Planned working hours per week</b></small>
                  <p><%= @account.planned_working_hours_per_week %></p>
                <% end %>

                <% if @account.type_of_internship.present? %>
                  <small><b>Type of internship</b></small>
                  <p><%= @account.type_of_internship %></p>
                <% end %>
              <% end %>
              <h3>Language Competences</h3>
              <% if @account.language_competences.present? %>
                <p><%= @account.language_competences %></p>
              <% end %>

            </div>

            <%= link_to "Edit your data", internship_template_account_path, class: "button margin-top" %>

          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
